public/
resources/
archetypes/default.md
static/video/
content/summerschool2020/gitignore_table.org
static/other/git_jupyter-rise/git_converted_by_decktape.pdf
static/practice_repos/
/home/marie/parvus/pwg/wtm/tcl/static/other/git_jupyter-rise/img
