public/
resources/
archetypes/default.md
static/video/
content/summerschool2020/gitignore_table.org
static/other/git_jupyter-rise/git_converted_by_decktape.pdf
static/practice_repos/
content/autumnschool2020/not_doing_due_to_lack_of_time/08_git_undo.org
content/autumnschool2020/not_doing_due_to_lack_of_time/11_git_collaborate.org
