public/
resources/
!*.png
!workinprogress.svg
archetypes/default.md
static/img/cc_regional_partner_brown_large.png
static/src/workshop/github_contrib/bogusrepo
static/tcldoc/git_interactive_sessions.org