{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}

<section class="container post">
  <article>
    <header>
      <div class="post-title">
        <center><h1>{{ .Title }}</h1></center>
	{{ with .Page.Params.Subtitle }}
	<center><subtitle>{{ . }}</subtitle></center>
	{{ end }}
      </div>
      <div class="post-meta">
        <center>Last updated: {{ now.Format "January 2, 2006" }}</center>
      </div>
      {{ if .TableOfContents }}
      <br>
      <div class="toggle">
      	<i class="fas fa-plus-circle"></i>
	&nbsp;Table of contents
      </div>
      <div class="panel">
	{{ .TableOfContents }}
      </div>
      {{ end }}
    </header>
    <div>
      {{ .Content }}
    </div>
    <footer>
      {{ partial "posts/series.html" . }}
      {{ partial "posts/disqus.html" . }}
      {{ partial "posts/commento.html" . }}
      {{ partial "posts/utteranc.html" . }}
    </footer>
  </article>
  {{ partial "posts/math.html" . }}
</section>

<script>
  var acc = document.getElementsByClassName("toggle")
  var i
  for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
  	  this.classList.toggle("active")
  	  var panel = this.nextElementSibling
  	  if (panel.style.maxHeight){
  	      panel.style.maxHeight = null
  	  } else {
  	      panel.style.maxHeight = panel.scrollHeight + "px"
  	  }
      })
  }
</script>

{{ end }}
