{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}

<section class="container post">
  <article>
    <header>
      <div class="post-title">
        <h1 class="title">{{ .Title }}</h1>
      </div>
      <!-- <span class="updated"> -->
          <!-- Last updated: {{ now.Format "January 2, 2006" }} -->
      <!-- </span> -->
      <div class="post-meta">
      <!--   <\!-- <span class="reading-time"> -\-> -->
      <!--     <\!-- <i class="fas fa-clock"></i> -\-> -->
      <!--     <\!-- {{ i18n "reading_time" .ReadingTime }} -\-> -->
      <!--     <\!-- </span> -\-> -->
      <!--   <\!-- <div class="date"> -\-> -->
      <!--     <\!-- <span class="posted-on"> -\-> -->
      <!--       <\!-- <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'> -\-> -->
      <!-- 	      <\!-- </time> -\-> -->
      <!--       <\!-- </span> -\-> -->
      <!--     <\!-- </div> -\-> -->
      <!-- <i class="fas fa-calendar"></i> -->
        <!-- <div align="right"> -->
          Last updated: {{ now.Format "January 2, 2006" }}
        <!-- </div> -->
        <!-- {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }} -->
      <!--   {{ with .Page.Params.Place }} -->
      <!-- 	<div class="place"> -->
      <!-- 	<i class="fas fa-home"></i> -->
      <!-- 	  {{ . }} -->
      <!-- 	</div> -->
      <!-- 	{{ end }} -->
      <!--   {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }} -->
      <!--   {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }} -->
      </div>
      {{ .TableOfContents }}
    </header>

    <div>
      {{ .Content }}
    </div>
    <!-- <div class="updated"> -->
      <!-- Last updated: {{ now.Format "January 2, 2006" }} -->
    <!-- </div> -->
    <footer>
      <!-- <h5>Comments and questions</h5> -->
      {{ partial "posts/series.html" . }}
      {{ partial "posts/disqus.html" . }}
      {{ partial "posts/commento.html" . }}
      {{ partial "posts/utteranc.html" . }}
    </footer>
  </article>

  {{ partial "posts/math.html" . }}
</section>

{{ end }}
