*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $fg-color;
  background-color: $bg-color;
  font-family: $text-font-family;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.8em;
  @media only screen and (max-width : 768px) {
    font-size: 1.6em;
    line-height: 1.6em;
  }
}

ul {
  li {
    list-style-type: circle;
  }
  p {
    margin: 0.5rem;
  }
}

ol {
  p {
    margin: 0.5rem;
  }
}

#TableOfContents {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 1.0rem 10.0rem 1.0rem 8.0rem;
  font-family: $heading-font-family;
  ul {
    padding-left: 3.0rem;
    li {
      list-style-type: none;
    }
  }
}

.toggle {
  cursor: pointer;
  text-align: center;
  color: #404040;
  // padding: 0.1em 0.3em;
  font-size: 95%;
  transition: 0.1s;
}

.panel {
  margin: auto;
  width: max-content;
  margin-top: 2.0rem;
  background-color: #f6f6f6;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panelnotoggle {
  margin: auto;
  width: max-content;
  margin-top: 2.0rem;
  background-color: #f6f6f6;
  border-radius: 5px;
}

a {
  font-weight: 300;
  color: $link-color;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

a:visited {
  color: $link-visited-color;
}

p {
  margin: 2.0rem 0 2.0rem 0;
}

h2 {
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 5.0rem 0 3.2rem 0;
}

h3,
h4 {
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 3.7rem 0 2.8rem 0;
}
h5,
h6,
h7 {
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 3.5rem 0 2.5rem 0;
}

h2 {
  // color: #890c0c;
  color: #000;
  font-size: 3.2rem;
  line-height: 3.6rem;
  @media only screen and (max-width : 768px) {
    font-size: 3.0rem;
    line-height: 3.4rem;
  }
}
h3 {
  color: #584f1e;
  font-size: 2.8rem;
  line-height: 3.2rem;
  @media only screen and (max-width : 768px) {
    font-size: 2.6rem;
    line-height: 3.0rem;
  }
}
h4 {
  color: #426456;
  font-size: 2.4rem;
  line-height: 2.8rem;
  @media only screen and (max-width : 768px) {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
}
h5 {
  color: #644f67;
  font-size: 2.2rem;
  line-height: 2.6rem;
  @media only screen and (max-width : 768px) {
    font-size: 2.0rem;
    line-height: 2.4rem;
  }
}
h6 {
  color: #b43c3e;
  font-size: 2.0rem;
  line-height: 2.4rem;
  @media only screen and (max-width : 768px) {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
h7 {
  color: #b43c3e;
  font-size: 1.8rem;
  line-height: 2.2rem;
  @media only screen and (max-width : 768px) {
    font-size: 1.6rem;
    line-height: 2.0rem;
  }
}

b, strong {
  font-weight: 700;
}

pre {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  display: block;
  font-family: $code-font-family;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin: 2.5rem 0 2.5rem 0;
  padding: 1.0rem 1.5rem 1.0rem 1.5rem;
  overflow-x: auto;
  code {
    display: inline-block;
    background-color: inherit;
    color: inherit;
  }
}

code {
  font-family: $code-font-family;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: $alt-bg-color;
  color: $fg-color;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

blockquote {
  border-left: 2px solid #cccccc;
  padding-left: 1.9rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: italic;
}

th, td {
  padding: 1.6rem;
}
table {
  border-collapse: collapse;
}
table td, table th {
  border: 2px solid $alt-fg-color;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 85.0rem;
  width: 100%;
  padding-left: 2.0rem;
  padding-right: 2.0rem;
}

.fab {
  font-weight: 400;
}

.fas {
  font-weight: 700;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.fab {
  font-weight: 400;
}

.fas {
  font-weight: 900;
}
