.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  article {
    header {
      margin-top: 6.4rem;
      margin-bottom: 3.2rem;
      h1 {
	font-family: $heading-font-family;
	// font-weight: 700;
	margin: 0 0 1.0rem 0;
	font-size: 3.5rem;
	line-height: 4.6rem;
	@media only screen and (max-width : 768px) {
	  font-size: 3.2rem;
	  line-height: 4.4rem;
	}
      }
      subtitle {
	font-family: $heading-font-family;
	font-weight: 700;
	font-size: 2.7rem;
	line-height: 3.6rem;
	@media only screen and (max-width : 768px) {
	  font-size: 2.4rem;
	  line-height: 3.4rem;
	}
      }
    }
    footer {
      margin-top: 4.0rem;
      .see-also {
	margin: 3.2rem 0;
	h3 {
	  margin: 3.2rem 0;
	}
      }
    }
  }
  .post {
    .post-title {
      margin: 0 7.0rem 1.0rem 7.0rem;
    }
    .post-meta {
      font-size: 1.5rem;
      font-family: $heading-font-family;
      color: #808080;
      // color: #978282;
      i {
	color: #595959;
	text-align: center;
	width: 1.6rem;
	margin-left: 0;
	margin-right: 0.5rem;
      }
      .date {
	.posted-on {
	  margin-left: 0;
	  margin-right: 1.5rem;
	}
      }
      .place {
      }
    }
  }
  figure {
    margin: 0;
    padding: 0;
  }
  figcaption p {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    margin: 0;
  }
}

.avatar img{
  width: 20rem;
  height: auto;
  @media only screen and (max-width : 768px) {
    width: 10rem;
  }
}

img[alt=logo] {
  width: 250px;
}

img[alt=photoid] {
  width: 150px;
  border-radius: 2px;
}

img[alt=wgavatar] {
  width: 250px;
  border-radius: 2px;
}

img[alt=radius] {
  width: 780px;
  border-radius: 10px;
}

.list {
  ul {
    margin: 3.2rem 0 3.2rem 0;
    padding: 0;
    li {
      list-style-type: none;
      font-size: 1.8rem;
      @media only screen and (max-width : 768px) {
	margin: 1.6rem 0 1.6rem 0;
      }
      .date {
	font-family: $heading-font-family;
	font-size: 1.6rem;
	display: inline-block;
	width: 20.0rem;
	text-align: right;
	margin-right: 3.0rem;
	@media only screen and (max-width : 768px) {
	  display: block;
	  text-align: left;
	}
      }
      .schoolname {
	font-size: 1.7rem;
	display: inline-block;
	width: 30.0rem;
	text-align: right;
	@media only screen and (max-width : 768px) {
	  display: block;
	  text-align: right;
	}
      }
      .wstopic {
	font-family: $heading-font-family;
	font-size: 1.6rem;
	color: #669999;
	font-weight: 700;
	display: inline-block;
	margin-left: 3.0rem;
	margin-right: 3.0rem;
	width: 0rem;
	text-align: right;
	@media only screen and (max-width : 768px) {
	  display: block;
	  text-align: right;
	}
      }
      .wbtopic {
	font-family: $heading-font-family;
	font-size: 1.6rem;
	color: #669999;
	font-weight: 700;
	display: inline-block;
	margin-left: 3.0rem;
	// margin-right: 0rem;
	width: 0rem;
	// text-align: right;
	@media only screen and (max-width : 768px) {
	  display: block;
	  // text-align: right;
	}
      }
      .wstitle {
	font-size: 1.9rem;
	margin-left: 11.0rem;
	line-height: 3.5rem;
	color: $fg-color;
	font-family: $heading-font-family;
	font-weight: 700;
	&:hover,
	&:focus {
	  color: $link-color
	}
      }
      .schooltitle {
	font-size: 1.9rem;
	margin-left: 3.0rem;
	line-height: 3.5rem;
	color: $fg-color;
	font-family: $heading-font-family;
	font-weight: 700;
	&:hover,
	&:focus {
	  color: $link-color
	}
      }
      .wbtitle {
	font-size: 1.9rem;
	color: $fg-color;
	font-family: $heading-font-family;
	font-weight: 700;
	&:hover,
	&:focus {
	  color: $link-color
	}
      }
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  .about {
    text-align: center;
    h1 {
      margin-top: 2.0rem;
      margin-bottom: 0.5rem;
    }
    h2 {
      margin-top: 1.0rem;
      margin-bottom: 0.5rem;
      font-size: 2.4rem;
      @media only screen and (max-width : 768px) {
	font-size: 2.0rem;
      }
    }
    ul {
      margin: 3.0rem 0 1.0rem 0;
      padding: 0;
      li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	a {
	  color: $fg-color;
	  text-transform: uppercase;
	  margin-left: 1.0rem;
	  margin-right: 1.0rem;
	  font-size: 1.6rem;
	  &:hover,
	  &:focus {
	    color: $link-color;
	  }
	  @media only screen and (max-width : 768px) {
	    font-size: 1.4rem;
	  }
	  i {
	    font-size: 3.2rem;
	  }
	}
      }
    }
  }

  .error {
    text-align: center;
    h1 {
      margin-top: 2.0rem;
      margin-bottom: 0.5rem;
      font-size: 4.6rem;
      @media only screen and (max-width : 768px) {
	font-size: 3.2rem;
      }
    }
    h2 {
      margin-top: 2.0rem;
      margin-bottom: 3.2rem;
      font-size: 3.2rem;
      @media only screen and (max-width : 768px) {
	font-size: 2.8rem;
      }
    }
  }
}

.updated {
  // text-align: center;
  font-size: 1.4rem;
  padding: 0.8rem 0 1.0rem 0;
  font-style: italic;
  line-height: 0;
  font-family: $heading-font-family;
  // color: #8c8c8c;
  // color: #978282;
  color: #808080;
}

// .accordion {
//   // button of the accordeon box
//   background-color: #c2d6d6;
//   color: #262626;
//   padding: 0em 0.8em;
//   font-size: 95%;
//   line-height: 22px;
//   border: 0.5pt solid #b3cccc;
//   border-radius: 3px;
//   box-shadow: 0pt 0pt 0pt #eee8d5;
//   transition: 0.4s;
//   cursor: pointer;
//   outline: none;
// }

// .active, .accordion:hover {
//   // button of the accordeon box while hover
//   background-color: #a3c2c2;
//   border: 0.5pt solid #94b8b8;
// }

// .panel {
//   // accordeon box
//   padding: 0em 1em;
//   margin: 0.7em 0 0 0;
//   background-color: #e0ebeb;
//   border-radius: 3px;
//   max-height: 0;
//   overflow: hidden;
//   transition: max-height 0.2s ease-out;
// }

.example-block {
  // this will be rendered as pre
  padding: 0rem 1.3rem;
}

.syntax-block {
  // box-shadow: 0px 0px 1.5px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 1.5px rgba(0,0,0,0.3);
  font-family: $code-font-family;
  font-size: 1.6rem;
  font-weight: 400;
  // line-height: 2.5rem;
  margin: 0rem 0rem;
  padding: 0rem 1.3rem;
  overflow-x: auto;
}

.exsimple-block {
  color: #262626;
  margin: 45px 50px 45px 20px;
  border-left: 4px solid #ff3399;
  padding-left: 1.3rem;
  line-height: 3.0rem;
}

.exsimplec-block {
  color: #262626;
  margin: 45px 50px 45px 20px;
  padding-left: 1.3rem;
  line-height: 3.0rem;
}

.challenge-block {
  color: #262626;
  margin: 45px 50px 45px 20px;
  border-left: 5px solid #ff3399;
  padding-left: 1.3rem;
  line-height: 2.5rem;
}

.challengec-block {
  color: #262626;
  margin: 45px 50px 45px 20px;
  padding-left: 1.3rem;
  line-height: 2.5rem;
}

.exercise-block {
  color: #262626;
  margin: 45px 50px 45px 0px;
  border-left: 5px solid #fbcc9d;
  padding-left: 2.0rem;
  line-height: 2.5rem;
}

.simplebox-block {
  font-family: $heading-font-family;
  line-height: 3.0rem;
  border-radius: 3px;
  border: 0.5pt solid #000000;
  // box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  // padding: 0.5px 2.0rem 0.5px 2.0rem;
  padding: 0.6px 3.0rem 0.6px 3.0rem;
}

.box-block {
  // mono font framed by subtle gray border
  // padding: 0em 1.0em;
  padding: 0.7rem 3.5rem;
  line-height: 3.0rem;
  // border: 1pt solid #cc9900;
  // border: 1pt solid #6699cc;
  border: 1pt solid #c6b7c8;
  // border: 1pt solid #644f67;
  border-radius: 3px;
  // box-shadow: 0px 0px 6px #eee8d5;
  // box-shadow: 0px 0px 6px #cc9900;
  // box-shadow: 0px 0px 6px #6699cc;
  box-shadow: 0px 0px 6px #c6b7c8;
  // box-shadow: 0px 0px 6px #644f67;
}

.zoombox-block {
  padding: 0.7rem 3.5rem;
  line-height: 22px;
  border: 0.5pt solid #cc0066;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #cc0066;
}

.debugbox-block {
  padding: 0.7rem 3.5rem;
  line-height: 22px;
  border: 0.5pt solid #800040;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #800040;
}

.definition-block {
  // small font in dull gray box
  // background-color: #f0efe7;
  // background-color: #f3f0f4;
  background-color: #e8e2e9;
  // font-family: 'Playfair Display', serif;
  font-family: 'Crimson Text', serif;
  // color: #3e3e3e;
  padding: 0.7rem 3.5rem;
  font-size: 1.8rem;
  // line-height: 22px;
  // border: 0.5pt solid #ebeae0;
  border: 0.5pt solid #e8e2e9;
  border-radius: 3px;
}

.verse-block {
  color: #262626;
  font-family: 'IM Fell English';
  font-size: 110%;
  font-style: italic;
  margin-left: 30px;
  // keep this line to have the verses indented
  line-height: 25px;
}

.mhexample-block {
  // color: #404040;
  // color: #282d35;
  color: #424a57;
  font-family: 'Maven Pro', sans-serif;
  // font-family: 'Antic Slab', serif;
  // font-family: $code-font-family;
  // font-family: 'Crimson Text', serif;
  font-size: 1.7rem;
  font-style: italic;
  margin-left: 10px;
  // keep this line to have the verses indented
  line-height: 25px;
}

.mhex-block {
  color: #424a57;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.7rem;
  font-style: italic;
  margin: 3rem 1rem 0rem 0rem;
  line-height: 25px;
}

.org-center-block {
  // center
  margin: auto;
  line-height: 22px;
  width: max-content;
}

.right-block {
  // right-aligned
  text-align: right;
  line-height: 22px;
}

.handwriting-block {
  // handwriting font
  font-family: 'Montez';
  line-height: 26px;
  font-size: 130%;
}

.monofont-block {
  // monospace font
  margin: auto;
  font-family: 'Slabo';
  width: max-content;
  color: #000000;
  padding: 0em 0.8em;
  font-size: 95%;
  line-height: 20px;
  border: 0.5pt solid #999999;
  border-radius: 3px;
}

.sticker-block {
  color: #b35900;
  // background-color: #ececec;
  // background-color: #fdfdfd;
  border: 1pt solid #e7dbd1;
  box-shadow: 0px 0px 6px rgba(244,164,96,0.3);
  // box-shadow: 0px 0px 6px #e7dbd1;
  // margin: auto;
  font-family: 'Slabo';
  width: max-content;
  padding: 0em 0.8em;
  font-size: 95%;
  line-height: 3px;
  border-radius: 5px;
}

.red-block {
  // with monospace font
  padding: 0.1em 0.8em;
  background-color: #f5deb3;
  color: #262626;
  font-size: 92%;
  // border-radius: 3px;
  box-shadow: 0pt 0pt 0pt #eee8d5;
}

.vertbar-block {
  // vertical-bar and big margin for questions or emphasis
  line-height: 27px;
  font-family: 'Linden Hill';
  margin: 45px 50px 45px 100px;
  font-size: 120%;
  color: #303b52;
  padding: 0 0 0 15px;
  border-left: 0.5px solid #425170;
  width: max-content;
}

.vertbarsmall-block {
  // less space before and after the vertbar section
  line-height: 27px;
  font-family: 'Linden Hill';
  margin: 45px 50px 10px 10px;
  font-size: 120%;
  color: #303b52;
  padding: 0 0 0 20px;
  border-left: 0.5px solid #425170;
  width: max-content;
}

.emphasis-block {
  line-height: 27px;
  font-family: 'Montserrat';
  margin: 30px 100px;
  color: #911808;
}

.footnote-definition {
  font-size: 90%;
}
