<section class="container centered">
  <div class="about" style="text-align: center">
    {{ with .Site.Params.siteavatar }}
    <div class="avatar">
      <img style="vertical-align: middle" src="{{ . | relURL }}" alt="avatar">
      <span style="vertical-align: sub">
	&nbsp;&nbsp;
	<a href="https://westgrid.github.io/trainingMaterials/">
          <b>
	    <font size="5" color="black">
   	      training material
	    </font>
	  </b>
   	</a>
      </span>
    </div>
    {{ end }}
    <br>
    <h2>by</h2>
    <br>
    <br>
    {{ if and (.Site.Params.sfuavatar) (.Site.Params.dracavatar) }} 
    <div>
      <a href="https://www.sfu.ca/">
	<img src="{{ $.Site.Params.sfuavatar | relURL }}" alt="sfuavatar">
      </a>
      &emsp;&emsp;
     <a href="https://alliancecan.ca/">
	<img src="{{ $.Site.Params.dracavatar | relURL }}" alt="dracavatar">
     </a>
    </div>
    {{ end }}
    <br>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
      {{ if .icon }}
      <li>
        <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>
          <i class="{{ .icon }}" aria-hidden="true"></i>
        </a>
      </li>
      {{ else }}
      <li>
        <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>
	  {{ .name }}
	</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
