{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}

<section class="container post">
  <article>
    <header>
      <h1 style="font-size: 3.0rem">
	<strong>
	  <font color="{{ .Params.colordes }}" style="font-family: Merriweather, Georgia, serif">
	    {{ .Description }}
	  </font>
	</strong>
	<span style="padding-left: 2.0rem">
	  {{ .Title }}
	</span>
      </h1>
      <div class="post-meta">
        <center>Last updated: {{ now.Format "January 2, 2006" }}</center>
      </div>
    </header>
    <div>
      {{ .Content }}
    </div>
    <footer>
      {{ partial "posts/series.html" . }}
      {{ partial "posts/disqus.html" . }}
      {{ partial "posts/commento.html" . }}
      {{ partial "posts/utteranc.html" . }}
    </footer>
  </article>
  {{ partial "posts/math.html" . }}
</section>

{{ end }}
